<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>sql</servlet-name>
        <servlet-class>Connect.sql</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetMovies</servlet-name>
        <servlet-class>Search.GetMovies</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetHistory</servlet-name>
        <servlet-class>Search.GetHistory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteDao</servlet-name>
        <servlet-class>Connect.DeleteDao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteMov</servlet-name>
        <servlet-class>Search.DeleteMov</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateMovie</servlet-name>
        <servlet-class>Search.UpdateMovie</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetMovDetails</servlet-name>
        <servlet-class>GetMovDetails</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>sql</servlet-name>
        <url-pattern>/sql</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetMovies</servlet-name>
        <url-pattern>/GetMovies</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetHistory</servlet-name>
        <url-pattern>/GetHistory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteDao</servlet-name>
        <url-pattern>/DeleteDao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteMov</servlet-name>
        <url-pattern>/DeleteMov</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateMovie</servlet-name>
        <url-pattern>/UpdateMovie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetMovDetails</servlet-name>
        <url-pattern>/GetMovDetails</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            3
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
